{% load static %}
<header class="h-[7vh] md:h-[10vh] border-b  border-gray-400 p-8 flex justify-between items-center">
  {% comment %} <h2 class="text-black text-base sm:text-lg md:text-xl lg:text-2xl xl:text-3xl font-bold">Farmacia Sagrado Corazón de Jesús</h2> {% endcomment %}
  <div class="flex items-center space-x-3">
    <img src="{% static 'img/onlyLogo.png' %}" alt="Farmacia Sagrado Corazón de Jesús" class="h-12 w-14 rounded-full">
    <div>
      <h1 class="text-xl font-bold text-slate-800">Farmacia</h1>
      <p class="text-sm font-semibold text-green-600">Sagrado Corazón de Jesús</p>
    </div>
  </div>
  <nav class='flex items-center gap-2'>

    <button onclick="mostrarVentana()" aria-label="Notificaciones" id="btnCampana" class="relative hover:bg-gray-200 hover:cursor-pointer active:bg-gray-300 p-2 rounded-lg transition-colors">
      
      <svg class="size-6 text-gray-950" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" d="M14.857 17.082a23.848 23.848 0 0 0 5.454-1.31A8.967 8.967 0 0 1 18 9.75V9A6 6 0 0 0 6 9v.75a8.967 8.967 0 0 1-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 0 1-5.714 0m5.714 0a3 3 0 1 1-5.714 0" />
      </svg>
      
      {% if numeroNotificaciones >= 1 and numeroNotificaciones < 10 %}
      <span class='absolute -top-0.5 right-0 bg-orange-500 py-0.5 px-[5px] box-content text-black rounded-lg text-[9px] font-bold'>
        {{ numeroNotificaciones }}
      </span>
      {% elif numeroNotificaciones > 9 %}
      <span class='absolute -top-0.5 right-0 bg-orange-500 py-0.5 px-[5px] box-content text-black rounded-lg text-[9px] font-bold'>
        9+
      </span>
      {% endif %}
    
    </button>

    <!-- Overlay y ventana emergente -->
    <div id="overlay" class="fixed inset-0 bg-opacity-40 hidden z-40">
      <div onclick="event.stopPropagation()" class="absolute top-15 right-10 bg-gray-100 rounded-lg shadow-lg p-4 w-[32rem] max-h-[80vh] overflow-y-auto z-50">
        <h1 class='text-gray-950 text-center font-medium'>
          Notificaciones {{ numeroNotificaciones }}
        </h1>

        <hr class='my-2 mt-5 border-gray-500' />

        {% for notificacion in notisStock %}
        <div class='p-0 hover:bg-transparent hover:cursor-pointer'>
          <a to="/" class='flex flex-1 items-center gap-4 py-2 px-4 hover:bg-gray-300 transition-colors rounded-lg'>
            <div class='text-sm flex flex-col'>
              <div class='flex items-center justify-between gap-4'>
                <span class='text-black'>Bajo Stock</span>
                <span class='text-black'>{{ notificacion.nombre }}</span>
                <span class='text-black'>Stock: {{ notificacion.stock }}</span>
                
              </div>
            </div>
          </a>
        </div>
        <hr class='my-2 border-gray-500' />
        {% endfor %}

        {% for notisficacion in notisVencimiento %}
        <div class='p-0 hover:bg-transparent hover:cursor-pointer'>
          <a to="/" class='flex flex-1 items-center gap-4 py-2 px-4 hover:bg-gray-300 transition-colors rounded-lg'>
            <div class='text-sm flex flex-col'>
              <div class='flex items-center justify-between gap-4'>
                <span class='text-black'>Expira Pronto</span>
                <span class='text-black'>{{ notisficacion.nombre }}</span>
                <span class='text-black '>Fecha: {{ notisficacion.fecha_vencimiento }}</span>
              </div>
            </div>
          </a>
        </div>
        <hr class='my-2 border-gray-500' />
        {% endfor %}

        

      </div>
    </div>

  </nav>
</header>