{% extends "layouts/LayoutAdmin.html" %}
{% block title %}Nueva Factura{% endblock %}
{% load static %}                   
{% block content %}
<div class="grid grid-cols-1 gap-4 lg:grid-cols-7 text-gray-700 h-[95%]">
    
    <div class="lg:col-span-3 space-y-4 flex-1 flex-col p-4 md:p-6 rounded-xl shadow-2xl border border-gray-300">

        <div>
            <div>
                <div class="pb-3">
                    <h3 class="text-lg font-semibold">Búsqueda de Productos</h3>
                </div>
    
                <div class="space-y-4">
                    <div class='flex justify-between w-full overflow-x-auto items-center mb-5'>
                        <input 
                            type="text"
                            placeholder='Busca por nombre'
                            id="buscador"
                            value=""
                            class='p-2 bg-gray-300 outline-none rounded-lg w-2xs mr-1'
                        />
                        <input 
                            type="text"
                            id="input-codigo-barra"
                            placeholder='Busca por código de barra'
                            value=""
                            class='p-2 bg-gray-300 outline-none rounded-lg w-2xs'
                        />
                    </div>
                </div>

            </div>
        </div>

        <div class="bg-gray-200 p-1 rounded-lg flex justify-around gap-2">
            <div id="btnFarmacia" class="flex font-bold bg-white justify-center items-center py-2 px-4 flex-1 rounded-lg hover:bg-gray-300 hover:text-gray-800 hover:font-semibold active:bg-gray-400 active:text-gray-900 hover:cursor-pointer transition-colors outline-none">
                Farmacia 
            </div>

            <div id="btnTienda" class="flex justify-center items-center py-2 px-4 flex-1 rounded-lg hover:bg-gray-300 hover:text-gray-800 hover:font-semibold active:bg-gray-400 active:text-gray-900 hover:cursor-pointer transition-colors outline-none">
                Tienda 
            </div>
        </div>

        <div id="productos-container" class="grid grid-cols-1 gap-2 sm:grid-cols-2 lg:grid-cols-2 auto-rows-max overflow-y-scroll h-[50vh] p-2 rounded-lg">
             
        </div>
    </div>

    <div class="lg:col-span-4 space-y-4 flex-1 flex-col p-4 md:p-6 rounded-xl shadow-2xl border border-gray-300">

        <div>
            
            <div class="space-y-4 flex flex-col items-center justify-between w-full border-b-1 border-gray-200">
                <div class='flex justify-between w-full overflow-x-auto items-center mb-5'>
                    <input 
                        type="text"
                        id="nombre-cliente"
                        placeholder='Inserta cliente...'
                        class='p-2 bg-gray-300 outline-none rounded-lg w-48 mr-1'
                    />

                    <select class='p-2 bg-gray-300 outline-none rounded-lg mr-1' name="tipo" id="tipo" onchange="handleTipoPago()">
                        <option value="1">Córdobas</option>
                        <option value="2">Dólares</option>
                        <option value="3">Mixto</option>
                        <option value="4">Tarjeta</option>
                    </select>

                    <input 
                        type="text"
                        id="efectivo"
                        placeholder='Cordobas'
                        class='p-2 bg-gray-300 outline-none rounded-lg w-40 mr-1'
                    />
                    <div id="extra-efectivo"></div>
                    <button onclick="guardarFactura()" class="bg-green-700 font-semibold text-white hover:bg-green-800 cursor-pointer rounded-lg w-2xl p-2">
                    Guardar
                    </button>
                </div>
            </div>

            <div>

                <div class="flex items-center font-semibold mt-2 mb-2 border-b-2 border-b-gray-100">
                    <svg fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 flex mr-2">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 0 0-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 0 0-16.536-1.84M7.5 14.25 5.106 5.272M6 20.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Zm12.75 0a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z" />
                    </svg>
                    <h1 class="text-lg">Detalle de Venta</h1>
                </div>

                <div class="overflow-y-scroll h-[55vh] border-b-2 border-b-gray-200">
                    <table class="w-full  border-collapse mb-5" id="tabla-factura">
                        <thead class= "font-bold p-3 border border-t-0  border-l-0 border-r-0 border-b-gray-200">
                          <tr>
                            <th class="p-3">#</th>
                            <th class="p-3">Producto</th>
                            <th class="p-3">Cantidad</th>
                            <th class="p-3">Precio Venta</th>
                            <th class="p-3">Subtotal</th>       
                            <th class="p-3">Acciones</th>
                          </tr>
                        </thead>
                        <tbody id="cuerpo-factura" class="text-sm font-medium text-center">

                        </tbody>
                    </table>   
                </div>

                <div class="flex justify-between items-center font-black mt-2 mb-2 pt-2 border-t-2 border-t-gray-200 px-4">
                    <span class="text-2xl">Total</span>
                    <span id="total-final" class="text-2xl text-green-700">C$0.00</span>
                </div>



            </div>

        </div>
    
    </div>
</div>
{% endblock %}


{% block scripts %}

<script src="{% static "js/nuevaFactura.js" %}"></script>
<script src="{% static "js/guardarFactura.js" %}"></script>
{% endblock %}
